{% extends "base.html" %}
{% load custom_controls %}
{% block title %}О проекте tada{% endblock %}
{% block nav %}{% show_menu 'about' %}{% endblock %}

{% block content %}
    <article>
        <h1>О проекте tada (dum bam bass)</h1>
        <h3>1. Название</h3>
        <p>Название для проекта выбрано не случайно (и не как случайный набор букв).</p>
        <p>Когда вам нужно напеть мотив какой-либо композиции, вы используете такие и иные междометия, ведь правда?</p>
        <h3>2. Цель</h3>
        <p>Основные цели этого приложения - академические  и соискательские, а именно поиграть с Django и чтобы было что приложить к резюме(а то все проекты до этого сплошь закрытые для публики и связывающие меня соглашением о неразглашении).</p>
        <h3>3. Автор</h3>
        <p>Сделано сугубо <a href="mailto:mosf1k@gmail.com">мною</a>. Зовут меня Дима.</p>
    </article>
{% endblock %}