{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_controls %}

{% block title %}{{ article.title }}{% endblock %}

{% block nav %}{% show_menu 'news' %}{% endblock %}

{% block content %}
    <article>
        <h1>{{ article.title }}</h1>
        <p class="date">{{ article.publication_date|date:'Y-m-d H:i' }}</p>
        {{ article.text|linebreaks }}
        {% images article.photos.all %}
        {% tags 'Теги' article.tags.all '/tag/' %}
        {% tags 'Исполнители' article.artists_mentioned.all '/artist/' %}
        {% tags 'Альбомы' article.albums_mentioned.all '/album/' %}
        {% tags 'Композиции' article.songs_mentioned.all '/song/' %}
    </article>
    {% if user.is_authenticated %}
        {% liker 'article' article.id %}
        {% commenter 'article' article.id %}
    {% endif %}

{% endblock %}

{% block scripts %}
    <script src="{% static "js/initPhotos.js" %}" language="javascript" type="text/javascript"></script>
    {% if user.is_authenticated %}
        <script src="{% static "js/initLikers.js" %}" language="javascript" type="text/javascript"></script>
        <script src="{% static "js/initComments.js" %}" language="javascript" type="text/javascript"></script>
    {% endif %}
{% endblock %}